# Byte-compiled files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/

# Logs and databases
logs/
*.log
*.sqlite
*.db

# System files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

